/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*----------------End Reset----------------------------
*/

body{
    font-family: 'Montserrat'
}

header{
    background-color:#232946 ;
}

b{
    font-weight: bold;
}

nav{
    background-color:#EEBBC3; ;
    padding-bottom: 30px; 
}


nav  a{
    display:block;
    text-align: center;
    color: #232946;
    text-decoration: none;
    padding: 10px;
 
}

.menu-logo img{
    width: 10%;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

/*----------------End Nav Bar-------------------------
*/



h5{
    text-align: center;
    color:#EEBBC3;
    font-size: 30px;
    font-weight:lighter;
    padding-bottom: 20px;
    margin-top: 50px;
}


.header-title {
    width: 80%;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 0 auto;
    }

.line img{
    padding-top: 20px;
    display: none;
}

.profile{
    width:70%;
    margin: 0 auto;
}
.profile img{
    display: block;
    width: 70%;
    margin: 0 auto;


}

img{
    width: 80%;
}

.header-buttons{
    width: 100%;
}

.buttons{
    display: flex; 
    flex-direction: row;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    margin-top: 50px;
    

}

.button-one{
    display: block;
    width: 115px;
    height: 25px;
    background: #EEBBC3;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: #232946;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none;
    
}
.button-two{
    display: block;
    width: 115px;
    height: 25px;
    padding: 10px;
    text-align: center;
    border-radius: 5px ;
    color: #EEBBC3;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none;
    border: 2px solid #EEBBC3;


}
    
/*----------------End Header-------------------------
*/

.section-info{
    background-color: #EEBBC3;   
    padding-top: 30px;
    padding-bottom: 30px;
}

.info-container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    line-height: 25px;
}

/*----------------Description-------------------------
*/

.section-skills{
    padding-top: 30px;
}

.big-container{
    width: 80%;
    margin: 0 auto;
}

h2{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

.container-skills{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1%;
    margin: 0 auto;
    
}

.card-skills{
    background-color: #FFEFF1;
    margin-top: 20px;
    border-radius: 10% ;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 28%;
}

.skill{
    width: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.skill img{
margin: 0 auto;
padding-bottom: 20px;

}

/*----------------End Skill cards-------------------------
*/

.section-projects{
    width: 80%;
    margin:0 auto;
    text-align: center;
}

.section-projects h2{
    margin-top: 50px;
}

.project-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #D6ECFF;
    margin-bottom:  30px;
    border-radius: 10px;


}

.project-container img{
    width: 100%;
    border-radius: 10px;
}

.project-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D6ECFF;
    height: 200px;
    width: 80%;
    padding-top: 30px;
    margin: 0 auto;
    margin-bottom: 25px;
 

}

.project-info p{
    padding-bottom: 20px;
}

.project-info h3{
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.button-three{
    margin-top: 20px;
    display: block;
    width: 200px;
    height: 40px;
    text-align: center;
    border-radius: 5px ;
    color:#ffffff;
    font-weight: bold;
    line-height: 38px;
    text-decoration: none;
    background-color:#232946;

}


.project-container-two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #EEE3E5;
    margin-bottom:  30px;
    border-radius: 10px;

}

.project-container-two img{
    width: 100%;
    border-radius: 10px;

}


.project-info-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EEE3E5;
    height: 200px;
    width: 80%;
    padding-top: 30px;
    margin: 0 auto;
    margin-bottom: 25px;
 

}

.project-info-two p{
    padding-bottom: 20px;
}

.project-info-two h3{
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.button-four{
    margin-top: 20px;
    display: block;
    width: 200px;
    height: 40px;
    text-align: center;
    border-radius: 5px ;
    color:#232946;
    font-weight: bold;
    line-height: 38px;
    text-decoration: none;
    background-color:#EEBBC3;
    

}


/*----------------Projects-------------------------
*/

footer{
    background-color: #232946;
}

.footer-info{
    display: flex;
    flex-direction: column;
}

footer .menu-options a{
    display:block;
    text-align: center;
    color:white;
    text-decoration: none;
    padding: 10px;
    text-decoration: none
    
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.social a{
    display: block;
    text-align: center;

}

.copyright{
    background-color: #ffffff;
    text-align: center;
    padding:15px;
}

/*----------------End Homepage-------------------------*/

.about-container{
    padding-top: 40px;
    background-color: #ffffff;
}

.about-info{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    text-align: left;
    margin: 0 auto;
}
.about-info p{
    line-height: 25px
}

.img-container{
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.about-container img {
    
    padding-top: 30px;
    width: 70%;
    text-align: center;
    
}

/*----------------End About-------------------------*/


.title-container{
    padding-top: 40px;
    width: 80%;
    margin: 0 auto;
}

.title-info{
    text-align: left;
    line-height: 25px;
}

.title-info h2{
    line-height: 40px;
    margin-bottom: 5px;
    
}

.title-info h4{
    text-align: center;
}

.title-info p{
    padding-top: 30px;
    padding-bottom: 30px;
}

.banner-image img {
    width: 100%;
}

.container-project h3{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 40px;
}

.objectives{
    margin-top: 20px;
    margin-bottom: 20px;
}

.info h5{
    margin-top: 12px;
    font-size: 20px;
    color: #232946;
    text-align: left;

}

.container-project p{

    text-align: left;

}

.container-project h2{
    margin-top:40px ;
}

.statement-container, .research-container, .ideation-container, .conclusion
{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    
}

.statement-container p, .research-container p, .ideation-container p, .conclusion p{
    text-align: left;
    line-height: 25px;
    margin-top: 20px;
    
}

.research-container img{
    width: 100%;
    margin-top: 20px;
}


.grid-container{
    width: 100%;
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
   grid-gap: 18px;
    place-content: center;
}

.point-info{
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
    overflow: hidden;

    }

.grid-container img{
width: 6vh;
height: auto;

}

.info-text h5{
color: #232946;
margin-top: 5px;
}

.conclusion{
    margin-bottom: 5vh;
}

/*----------------End Sushi Project-------------------------*/
.site-map img{
    width: 100%;
    margin-top: 30px;
}

 .sketches img, .wireframes img, .prototype img{
    width: 100%;

 }

 .app-container img{
    width: 40%;
 }

 
/*----------------End Mobile -------------------------*/

@media only screen and (min-width:  1025px) {
 
    .header-menu{
        display: flex;
        align-items:center;
        width: 100%;
        gap: 45%;
    }
    
    .menu-logo img{
        width: 30px;
       
    }
    .menu-logo{
        margin-left: 16%;
      
    }

    nav{
        padding-bottom: 0%;
    }

    nav ul{
        display: flex;    
        justify-content: flex-end;
       
        }
    
    .menu-options{
        flex-basis: 10%;
    }
/*----------------Nav -------------------------*/
    
    .container-header{
        display: flex;   
        width: 80%;
        margin: 0 auto;
    }
    
    .header-left{
        flex-basis: 50%;
        padding-left: 100px;
        
    }

    .header-title{
        width: 100%;
    }
    .header-title h1{
        font-size: 50px;
        text-align: left;
      
    }

    .name h5{
        
        text-align: center;
    }


    .buttons{
        margin-top: 68px;
        margin-left:0 ;
    }

    .section-info{
        height: auto;
        

    }

    .info-container{
        padding-top: 10px;
        width: 50%;
        margin: 0 auto;

    }

    .header-left{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .buttons{
        justify-content: flex-start;
    }

    .container-skills{
        width: 80%;
    }

    .card-skills{
        width: 21%;
    }

    .skill{
        width: auto;
    }

    .project-container, .project-container-two{
        display: flex;
        flex-direction: row;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 30px;
           
    }

    .project-info, .project-info-two{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        height: auto;
        }



    footer .menu-options {
        display: none;
    }


/*----------------Nav -------------------------*/



}

/*----------------Nav -------------------------*/
